body {
  background: rgb(28,131,218);
background: linear-gradient(90deg, rgba(28,131,218,1) 0%, rgba(249,255,0,1) 50%, rgba(28,131,218,1) 100%);
}

#main{
  text-align: center;
  font-family: Bangers;
  font-size: 70px;
  color: #2563eb;
}

