.background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-image: url("./background1.png"), url("./background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-navbar {
    background-color: #E0D03A;
}

.custom-botom {
    background-color: #E0D03A;
}